p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
div.figure {
  border-top-width: 0;
  border-bottom-width: 0;
}
div.inline-figure  {
  border-top-width: 0;
  border-bottom-width: 0;
}
iframe {
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}
//modals in bs4
.modal {
  padding: 0 !important; // override inline padding-right added from js
}
.modal .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal .modal-body {
  overflow-y: auto;
}

.popover{
    max-width: 40%;
}

.modal-popover {
    overflow-y: auto;
    height: 350px;
}

.instruction-wide-image {
  height: 100%; 
  width: 100%;
}

.rack-image {
  height: 300px; 
  width: auto
}

.rack-image-6u {
  height: 500px; 
  width: auto
}